# ********* Laravel gitignore *********

node_modules/
public/hot/
public/storage/
storage/*.key
vendor/
.idea/
.vagrant/
Homestead.json
Homestead.yaml
npm-debug.log
bootstrap/compiled.php
.env.local
.env.*
composer.phar
.DS_Store
Thumbs.db
.vagrant*
resources/assets/vendor/
public/adminlte/plugins/
docgen.sh
phpdoc.dist.xml
public/docs/
public/user/
public/js/
public/css/
storage/app/public/
storage/logs
